h1 {
    background-color: #DBE9EE;
    text-align: center;
}
h2 {
    background-color: #DBE9EE;
    text-align: center;

p{
   
    color: black ;
    font-family : Tahoma,sans-serif;
    background-color : Aquamarine;
}
ul {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #DBE9EE;
    background-color: Aquamarine;
};


