body{
    font-family: "Times New Roman", Times, serif;}

header{
    text-align: center;
}

.aboutMe{
    display: inline-flex;}
a{

    color: white;}

h1{
    font-size: 3em;}

h3{
text-transform: uppercase;
text-decoration: underline}


.color{
color: black;}



p{
    text-align: left;}



footer{
    background-color: #3f5773;}
