body {
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(19, 53, 146, 0.842);
    background-color: rgb(187, 151, 151);
    text-align: center;
}

hr {
    background-color: rgba(rgba(110, 87, 87, 0.747), green, blue, alpha);
}

.classSub {
    background-color: rgba(110, 87, 87, 1);
    width: 20px;
}

header {
    margin: auto;
    color: red;
    background-color: black;
}

h2 {
    color: white;
    font-size: 28px;
    font-style: italic;
    text-decoration: none;
    border: 2px solid green;
    text-align: left;
    display: inline-block;
}

img {
    float: right;
    position: fixed;
    bottom: 600px;
    right: 300px;
    border: 5px bold white;
}

a:hover {
    color: red;
    border-color: blue;
}

p {
    text-align: left;
    color: black;
}

footer {
    bottom: 50px;
}

a {
    border: 1px double yellow;
}

ul {
    list-style: none;
}

.experience {
    color: red;
    display: block;
}

.expInfo {
    color: whitesmoke;
    text-align: center;
}

li {
    color: aquamarine;
}

