/* Copy pasting, because i am lazy */
html, body {
    max-width: 100%;
    overflow-x: hidden !important;
    background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Minimalist-Crumpled-Paper-Simple-Background-Image.jpg");
    font-family: monospace;
}
.wrapper {
    position: relative;
    height: 350px;
    background-image: url("https://media2.giphy.com/media/NzSUEgbTWB7TW/giphy.gif?cid=790b76115c4c63b0a5054e42b71e6b4d043f079bec7246c5&rid=giphy.gif");
}
.title{
    font-size: 15px;
    position: absolute;
    left: 40rem ;
    top: 20rem;
}

.Portfolio_title{
    font-family: monospace;
    width: 300px;
    background-image: url("https://media2.giphy.com/media/NzSUEgbTWB7TW/giphy.gif?cid=790b76115c4c63b0a5054e42b71e6b4d043f079bec7246c5&rid=giphy.gif");
    align-content: center;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    border-color: indigo;
    border-bottom: 2px dotted chartreuse;
}

  .header {
    height: 300px;
    background-image: url("https://pbs.twimg.com/media/DxlnXgeWkAItPQa?format=jpg&name=4096x4096");
    background-size: contain;
    transform: rotate(-4deg);
    margin-top: -70px;
    position: absolute;
    top: 0;
    right: -20%;
    left: -20%;
    bottom: 0;
    border: 2px solid #CCD5DB;
  }
.round-image{
  border-radius:100%;
  height: 200px; 
  margin: 0 auto;
  top: 150px;
  left: 200px;
  width: 200px; 
  overflow:hidden;
  position: absolute;
  z-index: 1;
  border: 2px solid #CCD5DB;
}
.socialMedia{
    /* background-color: palegreen; */
    width: fit-content;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 50%;

}
/* Not working? */
.vid2{
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    border: 2PX dotted turquoise;
    background-color: yellow; 
    width: fit-content;
    /* padding: 30%; */
}
/* Not working? */
.video{
    width: 45%;
    height: 45%;
    background-color: teal;
}
/* not working either? */
.text-wrapper>ul>li>p{
    color: slateblue;
    background-color: springgreen;
    text-align: center;   
}

/* not working? */
.text-wrapper{
    justify-content: center;
    background-color: violet;
}

