a {
    text-align: center;
    color: black;
    font-style: normal;
   
}

body {
    font-style: italic;
    color:#011f3b
}

h1 {
    font-weight: bold;

}


h3 {
    font-weight: bold;

}

li {
    color: #252faf

}
