a {
    color:blue;
}
p {
    font-style: italic;
}
header{
    border-bottom: 1px solid black;
}

ul{
    list-style:none;
    font-size:20px;
    font-family:bold;
    margin-right: 20px;
    padding:10px;
    background-color: rgb(250, 226, 250);
}