html{
    background-color: rgb(241, 241, 241);
}
header{
    border-bottom: 1px dotted white;
    border-width: 3px;
}

nav {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 15px;
    background-color: red;
    font-size: 17px;
    margin: 50px 0;   
    word-spacing: 40px;
   
}
nav a:hover {
    background-color: #ddd;
  }

a{
    text-decoration: none;
    color: white;
}

h1,h2 {
    margin: 10px 50px; 
 }

 body{
  font-size: 20px;
  text-align: justify;

}
.boldword{
  font-style: italic;
}

img{
      display: block;
      margin-left: auto;
      margin-right: auto;
}

footer{
    border-width: 3px;
    text-align: center;
    color: white;
    text-align: center;
    padding: 8px;
    background-color: red;
    word-spacing: 40px;
} 

footer a:hover {
    background-color: #ddd;
  }